<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Information</div>
            <div class="panel-body">
                <form action="/" method="GET">
                    <div class="form-group">
                        <label>UserID</label>
                        <input type="text" class="form-control" placeholder="UserID" name="user" value=""><br>
                        <label>Rivals</label>
                        <input type="text" class="form-control" placeholder="UserID,UserID,UserID" name="rivals" value=""><br>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>